@charset "UTF-8";
body {
  position: relative;
  font: 18px/21px "FuturaFuturisLightC", sans-serif;
  color: #767676;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

body.unscroll {
  overflow: hidden; }

.main_wrap {
  overflow: hidden; }

.container_big {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%; }

.header {
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #000;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400; }

.title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #000; }

.text--undertitle {
  font-family: "FuturaMediumC", sans-serif;
  font-size: 20px;
  font-weight: 400; }

.text--bold {
  font-family: "Gilroy-ExtraBold", sans-serif; }

.text--medium {
  font-family: "FuturaMediumC", sans-serif; }

.text--yellow {
  color: #ffe400; }

.text--grey {
  color: #767676; }

.text--white {
  color: #fff; }

.text--black {
  color: #000; }

.text--borderb {
  position: relative;
  display: inline-block;
  z-index: 2; }
  .text--borderb:before {
    content: '';
    position: absolute;
    width: 102%;
    left: -1%;
    bottom: -5px;
    background-color: #b9a500;
    height: 4px;
    z-index: -1; }
  .text--borderb_big:before {
    height: 10px; }
  .text--borderb_medium:before {
    height: 6px; }
  .text--borderb_white:before {
    background-color: #fff; }

.text--borderb_big {
  border: 10px solid #b9a500; }

.underline {
  position: relative; }
  .underline:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 40px;
    height: 4px; }
  .underline--white:before {
    background-color: #fff; }
  .underline--black:before {
    background-color: #000; }
  .underline--sm:before {
    width: 20px;
    bottom: -40px; }
  .underline--top:before {
    top: -20px;
    bottom: initial; }

.md-modal.md-show {
  opacity: 1; }

.md-modal {
  opacity: 0; }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #ffe400;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #ffe400; }

.btn {
  width: 250px;
  height: 50px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background-color: #fded35;
  color: #352b33;
  font-size: 16px;
  font-weight: 700; }

.btn:hover {
  background-color: #f5c0d0;
  color: #fff; }

.btn:active {
  background-color: #dfafbd; }

/* BUTTON scrollUP SYLES*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: none;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #scrollup svg {
    fill: #848484;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

#scrollup:hover svg {
  fill: #ffe400; }

/* BUTTON scrollUP END*/
#sec_01 {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_00-bg.jpg);
  position: relative;
  padding: 20px 0;
  min-height: 100vh; }
  #sec_01 .logo {
    margin-bottom: 90px; }
  #sec_01 .header_main {
    font-size: 128px;
    margin-bottom: 40px;
    position: relative; }
    #sec_01 .header_main:before {
      content: 'Революция сознания';
      position: absolute;
      width: 100px;
      right: -40px;
      bottom: 0;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      font-family: "Gilroy-ExtraBold", sans-serif;
      letter-spacing: 0.9px;
      font-size: 18px;
      line-height: 18px;
      color: #fff; }
  #sec_01 .btn {
    margin: 40px auto 70px; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 0 15px;
  background-color: #202020; }
  footer .politics {
    margin-top: 13px; }
    footer .politics a {
      color: #65666a;
      font-size: 15px; }
    footer .politics a:hover {
      color: #ffe400; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 3px;
    margin-left: 0px;
    width: 48px;
    float: right; }
    footer .logo_rezart svg {
      fill: #fff;
      -webkit-transition: fill .3s;
      transition: fill .3s; }
    footer .logo_rezart:hover svg {
      fill: #ffe400; }

@media (min-width: 768px) and (max-width: 991px) {
  footer .politics a {
    font-size: 13px; } }

@media screen and (max-height: 760px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  #sec_01 {
    padding-top: 100px;
    background-position: top -150px center; }
  footer {
    text-align: center; }
    footer [class*='col-'] {
      width: 100%; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 10px;
      margin-left: 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }

@media (max-width: 600px) {
  [class*='col-'] {
    width: 100%; }
  #sec_01 {
    padding-top: 20px;
    background-position: top -150px center; }
    #sec_01 .logo {
      margin-bottom: 70px; }
    #sec_01 .header_main {
      font-size: 46px; } }
